[user]
	name = Ankit Aggarwal
	email = ankitaggarwal@gmail.com
[github]
	user = structAnkit
	token = 
[color]
	ui = true
[core]
    excludesfile = /Users/ankit/.gitignore
	editor = subl -w
[credential]
	helper = osxkeychain
