[user]
	name = Ankit Aggarwal
	email = ankitaggarwal@gmail.com
[github]
	user = structAnkit
	token =
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /Users/ankit/.gitignore
	editor = vim
	autocrlf = input
[credential]
	helper = osxkeychain
[fetch]
	prune = true
[push]
	default = tracking
[branch]
	autosetuprebase = always
[alias]
	graph = log --all --abbrev-commit --date=short --full-history --graph --format=format:'%C(bold blue)%h%C(reset)\t%C(bold white)%an, %ar (committed %cr)%C(reset)%C(bold green)%d%C(reset)%n       \t%C(white)%s%C(reset)%n'

[init]
	templatedir = ~/.git_template
